body, html {
    height: 100%;
    margin: 20px 100px;
}

body{
    background:#f8f9fd !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.panel-body{
  text-align: justify !important;
}

#part-one p{
  display: block !important;
}
  
#heading-main{
    text-align: center;
}

p{
  display: block;
}

span{
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    margin-top: 50px;
}

.panel-body label{
    display: block;
    font-weight: normal;
    line-height: 24px;
}
.panel.panel-primary {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
}
/* .actions button[type="button"] {
    margin-right: 8%;
} */
.actions button {
    width: 32%;
    height: 40px;
}
/* ----------FORM-GROUP--------- */
input[type="checkbox"]{
  scale: 1.8;
}

.row .col-md-2 p{
  text-align: center;
}

.input-checkbox{
  display: flex;
  justify-content: center;
  align-items: baseline;
} 
.input-checkbox-LR{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
} 

.row{
  margin: 15px 0;
  align-items: center;
}

.benign, .malignant {
  height: auto !important;
}
.actions{
  margin: 15px 0;
}
.col-md-1{
  text-align: center;
}
/* ----------------CHECKBOX---------------------- */
.clearfix-checkbox label{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0;
  padding: 15px;
  border: none;
  background: rgb(233, 233, 233);
}

.checkbox-button{
  position: relative;
}
/* ----------------GROUP TEST DIAGNOSIS----------------- */
#group-text-diagnosis{
  padding-bottom: 50px;
}

.panel-primary>.panel-heading{
  border-color: green!;
}

/* ----------------TABLE PATIENT------------------------ */
table {
  width: 100%;
  text-align: center;
}
#group-text-diagnosis table {
  width: 500px;
}
#group-text-diagnosis table thead th{
  text-align: center;
}

table tbody tr td:last-child button {
  border: none;
  padding: 5px;
  border-radius: 3px;
  background-color: #dc3545 !important;
}

td,
th {
  border: 1px solid #ddd !important;
  padding: 0;
  text-align: center !important ;
}

tr:nth-child(even) {
  background-color: #f2f2f2 !important;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
tbody, td, tfoot, th, thead{
  border-color: inherit;
  border-style: solid;
  border-width: 0;
} */


.panel-body .row select{
  width: 100px;
}

.LR-Left .panel-body .row,.LR-Right .panel-body .row{
  padding: 10px 0;
  background-color: #E9E9E9;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.LR-Left .panel-body .row:hover, .LR-Right .panel-body .row:hover {
  transform: translateY(-5px);
  transform: scale(1.02)
}

/* Show table result LR1 and LR2 for Left an Right Ovary */
.table-result-ovary td{
  width: 300px;
}

.notify-results{
  padding: 5px 20px;
  background-color: #E9E9E9;
  margin-bottom: 10px;
  border-radius: 5px;
}

.notify-results h4{
  font-weight: 700;
  /* color: #43418a; */
}

.notify-results p{
  display: inline;
}

.text-notify{
  font-weight: 700;
  font-size: 20px;  
  text-decoration: solid;
  color: #D9534F;
}

.bi-exclamation-diamond-fill::before {
  content: "\f63c";
  scale: 1.;
  color: #b92929;
  margin-left: 10px;
}

.col-md-6 select{
  width: 100px;
}

/* ===============LOGISTIC MODEL======================= */
#logisticLeft .row .col-md-6 p, #logisticRight .row .col-md-6 p{
  font-weight: 700;
}

/* ===============ADNEX MODEL======================= */
.col-md-4 p {
  display: inline;
}
/* ===============Detect_vn======================= */

/*Print*/
@media print {
  /* Ẩn nút in khi in */
  button {
      display: none;
  }

  /* Xóa phần đầu trang khi in */
  header, nav, .actions {
      display: none;
  }

  /* Xóa phần cuối trang khi in */
  footer {
      display: none;
  }

  /* Điều chỉnh kích thước khi in */
  body {
      font-size: 10pt; /* Thay đổi kích thước font chữ */
  }

  /* Điều chỉnh kích thước của một phần tử cụ thể */
  .content {
      width: 80%; /* Thay đổi chiều rộng của phần tử có class "content" */
  }
    /* Thiết lập lề hẹp khi in */
    body {
    margin: 10mm; /* Đặt giá trị lề là 10mm, bạn có thể điều chỉnh giá trị này theo nhu cầu của mình */
}
}
